<div class="col-lg-5">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>{{title}}</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
          <li>
            <a href="#">Config option 1</a>
          </li>
          <li>
            <a href="#">Config option 2</a>
          </li>
        </ul>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <form class="form-horizontal" (ngSubmit)="save()">
        <p>Sign in today for more expirience.</p>
        <div class="form-group">
          <label class="col-lg-2 control-label">Project Name</label>
          <div class="col-lg-10">
            <input type="text" [(ngModel)]="project.name" name="name" placeholder="Project Name" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Prefix</label>
          <div class="col-lg-10">
            <input type="text" [(ngModel)]="project.id" name="id"  placeholder="Prefix" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-sm btn-white" type="submit">Create Project</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>